*/.secrets
*/*/.terraform
terraform/.terraform/*
terraform-*
terraform/.terraform/plugins/*
lambda-sqs-trigger/terraform/sqs/.terraform/*
lambda_function.zip

# we are not going to store state locally
terraform.tfstate
terraform.tfstate.backup

# mac stuff
.DS_Store